.kontejner 
{
    display: flex;
    height: 750px;
}

h2 
{
    font-family: 'Courier New', Courier, monospace;
    color: #98acf8;
    margin: 5px;
}

.forma 
{
    display: flex;
    height: 720px;
    flex-direction: column;
    flex-basis: 300px;
    margin: 5px;
    border: 1px dotted black;
    padding: 5px;
    color: #0d335d;
    background-color: rgba(250,	235, 215, 0.5);
}

div 
{
    margin-top: 3px;
    margin-bottom: 3px;
}

select {
    margin-top: 3px;
}

body 
{
    background-image: url("https://images4.alphacoders.com/997/997293.png");
    background-size: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.kontejnerIgre
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 500px;
    height: 720px;
    font-size: 24px;
}

.vrsta
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.videoIgra
{
    border: 1px dotted black;
    flex: 1 1 20px;
    margin: 5px;
    text-align: center;
}

.button
{
    width: 200px;
    height: 24px;
    font-style: italic;
    margin: 5px;
}